
<p>
  <strong>Classid:</strong>
  <%= @bookclasee.classid %>
</p>

<p>
  <strong>Classname:</strong>
  <%= @bookclasee.classname %>
</p>

<%= link_to 'Edit', edit_bookclasee_path(@bookclasee) %> |
<%= link_to 'Back', bookclasees_path %>
